---
import "../styles/global.css";
const links = [
  { name: "Inicio", href: "/" },
  { name: "Servicios", href: "/servicios" },
  { name: "Nosotros", href: "/nosotros" },
  { name: "Proyectos", href: "/proyectos" },
  { name: "Contacto", href: "/contacto" },
];
---

<nav class="w-full border-b border-white/10 bg-linear-to-r from-blue-700 via-blue-600 to-sky-500 shadow-md">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4">
    
    <a href="/" class="text-3xl font-extrabold tracking-tight text-white italic">
      BSM<span class="text-red-300 not-italic">TechSolutions</span>
    </a>

    <ul class="hidden items-center gap-8 md:flex">
      {links.map(link => (
        <li>
          <a
            href={link.href}
            class="text-xl font-semibold text-white/90 transition-all hover:scale-105 hover:text-red-300"
          >
            {link.name}
          </a>
        </li>
      ))}
    </ul>

    <div class="flex items-center gap-4">
      <a
        href="/contacto"
        class="hidden rounded-xl bg-white px-6 py-2.5 text-base font-bold text-blue-700 shadow-lg transition-all hover:bg-sky-50 hover:shadow-xl active:scale-95 md:inline-block"
      >
        Ingresar
      </a>
    </div>
  </div>
</nav>